.app{
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}
header{
    grid-row: 1;
    grid-column: 1/4;
    background-color: rgba(243, 227, 158, 0.699);
    font-size: 35px;
    text-align: center;
    padding: 5px;
    color: black;
}
footer{
    grid-row: 3;
    grid-column: 1/4;
    background-color: rgba(243, 227, 158, 0.699);
    font-size: 35px;
    text-align: center;
    padding: 5px;
}
.left-nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 150px);

    grid-auto-rows: 10px;
    /* grid-row: 2;
    grid-column: 1; */
    background-color: red;
    padding: 10px;
    justify-content: center;
}
.left-nav a{
    /* margin-bottom: 20px; */
    text-decoration: none;
    color: white;
    background-color: rgb(10, 10, 10);
    /* height: 50px; */
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    height: 50px;
}
.content{
    grid-row: 2;
    grid-column: 2;
    background-color: rgb(236, 162, 162);
    padding: 10px;
    /* display: flex;
    flex-direction: column; */
}
.content h2{
    border-bottom: 1px solid black;
}
.content section{
    font-size: 1.5rem;
}
.content p:last-child{
    margin-bottom: 10rem;
}
.adverts{
    /* grid-column: 3;
    grid-row: 2; */
    display: grid;
    justify-content: center;
    text-align: center;
}
.text{
    writing-mode: vertical-lr;
    font-size: 3em;
        /* text-orientation: sideways; */
}
.left-nav a.active{
    border: 2px solid goldenrod;
}
.content section:not(.active){
    display: none;
}