*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
}
.header {
    text-align: center;
    background: black;
    color: white;
    padding: 30px;
    font-family: sans-serif ;
}
.navigation{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: Bebas Neue;
    background: #3E75A8;
    cursor: pointer;
}
.greeting {
    display: flex;
    justify-content: space-around;
    font-family:  Bebas Neue;
}
#userinfo {
    margin-top: 30px;
    display: flex;
    width: 45%;
    justify-content: center;
    flex-direction: column;
}
.form-container {
    display: flex;
    justify-content: center;
}
.inputname{
    margin-bottom: 5px;
    font-family: Bebas Neue;
}
#loginusername {
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 8px;
}
#loginpassword {
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 15px;
}
.loginbutton {
    box-sizing: border-box;
    background-color: #76c2da;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: Bebas Neue;
}
.registermessage{
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-family: Bebas Neue;

}
.register-button {
    box-sizing: border-box;
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: Bebas Neue;
}

