main{
    text-align: center;
    margin: auto;
    background: rgb(147, 164, 187);
    font-family: sans-serif;
    width:auto;
}
header{
            background: rgb(165, 198, 231); 
            font-family: sans-serif;
}